<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appliances</title>
    <!-- CSS Links -->
    <!-- Bootstrap CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Boxicon Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>

  <!-- header section -->
    <header class="header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="../templates/index.html">E-Commerce</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="../templates/index.html">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="../templates/mobiles.html">Mobiles</a></li>
                      <li><a class="dropdown-item" href="../templates/dresses.html">Dresses</a></li>
                      <li><a class="dropdown-item" href="../templates/laptops.html">Laptops</a></li>
                      <li><a class="dropdown-item" href="../templates/books.html">Books</a></li>
                      <li><a class="dropdown-item" href="../templates/appliances.html">Appliances</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/index.html">More items</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="../templates/orders.html" tabindex="-1" aria-disabled="true">Orders</a></li>
                  <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" href="#">Cart</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class='bx bx-user-circle bx-sm'></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="../templates/profile.html">My Profile</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="container-fluid">
                    <div class="input-group">
                      <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                      <input type="text" class="form-control" placeholder="Search for Products, Fashion and more" aria-label="Username" aria-describedby="basic-addon1">
                      <button class="btn btn-outline-light" type="submit">Search</button>
                    </div>
                </form>
                
              </div>
            </div>
          </nav>
    </header>
    
    <!-- main section -->
    <main>

        <!-- cart offcanvas -->
        <div class="cart" id="cart">
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><i class='bx bx-cart bx-flip-horizontal'></i>Your Cart</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul id="cart-items" class="list-group mb-3"></ul>
                  <p>Total: ₹<span id="cart-total">0.00</span></p>
                  <a class="btn btn-dark text-white" href="#" tabindex="-1" aria-disabled="true">Place Order</a>
                </div>
            </div>            
        </div>



      <h3 class="m-2 p-4">Top Deals On Appliances</h3>
      <!-- product card -->
      <div class="container p-2">
        <div class="row g-4">
          <!-- card starts -->
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 25rem;">
              <img src="../static/assets/appliances/ac1.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="..." >
              <div class="card-body">
                <h5 class="card-title">Apple iPhone 15</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999</p>
                <a href="../templates/appliance templates/ac1.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 25rem;">
              <img src="../static/assets/appliances/ac2.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="..." >
              <div class="card-body">
                <h5 class="card-title">Apple iPhone 15 pro</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
                <p class="card-text">₹1,27,990</p>
                <a href="../templates/appliance templates/ac2.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 25rem;">
              <img src="../static/assets/appliances/ac3.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="...">
              <div class="card-body">
                <h5 class="card-title">Infinix Zero</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/ac3.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 25rem;">
              <img src="../static/assets/appliances/ac4.png" class="card-img-top pt-5 pb-5 " alt="...">
              <div class="card-body">
                <h5 class="card-title">IQOO</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/ac4.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fan1.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Apple iPhone 15 Plus</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fan1.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fan2.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Apple iPhone 15 Pro Max</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fan2.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fan3.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Nothing Phone 2</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fan3.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fan4.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Oneplus Nord</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fan4.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fil1.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Moto</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fil1.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fil2.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Oppo</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fil2.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fil3.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Samsung</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fil3.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/fil4.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Realme</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/fil4.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/tv1.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="...">
              <div class="card-body">
                <h5 class="card-title">Redmi</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/tv1.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/tv2.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="..." >
              <div class="card-body">
                <h5 class="card-title">Techno</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/tv2.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/tv3.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vivo</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/tv3.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/tv4.png" class="card-img-top pt-5 pb-5 mt-5 mb-5" alt="...">
              <div class="card-body">
                <h5 class="card-title">Poco</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/tv4.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/wash1.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Poco</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/wash1.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/wash2.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Poco</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/wash2.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/wash3.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Poco</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/wash3.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img src="../static/assets/appliances/wash4.png" class="card-img-top" alt="..." height="380px">
              <div class="card-body">
                <h5 class="card-title">Poco</h5>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p class="card-text">₹70,999  </p>
                <a href="../templates/appliance templates/wash4.html" class="stretched-link"></a>
              </div>
            </div>
          </div>
        <!-- card ends -->
        </div>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center m-4">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>


    </main>

    <!-- footer section -->
    <footer class="bd-footer py-5 mt-5 bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="E-Commerce">
              <span class="fs-5">E-Commerce</span>
            </a>
            <ul class="list-unstyled small text-muted">
              <li class="mb-2">Designed and built with all the love in the world by the E-Commerce team with the help of our contributors.</li>
            </ul>
            <br>
            <br>
            <h5>Payment Partners</h5>
            <div class="col">
              <img width="50" height="50" src="https://img.icons8.com/color/50/paytm.png" alt="paytm">
              <img width="50" height="50" src="https://img.icons8.com/fluency/50/paypal.png" alt="paypal">
              <img width="50" height="50" src="https://img.icons8.com/color/50/mastercard-logo.png" alt="mastercard-logo">
              <img width="50" height="50" src="https://img.icons8.com/color/50/google-pay.png" alt="google-pay">
            </div>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>ABOUT</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Contact Us</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">About Us</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Careers</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Corporate</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Information</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>HELP</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Payments</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Shipping</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Cancellation & Returns</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">FQA</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Report</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Infringement</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>CONSUMER POLICY</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Privacy</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Term Of Use</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Cancellation & Returns</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Security</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Grievance</a></li>
              <li class="mb-2"><a class="link-dark text-decoration-none" href="#">Redressal</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>ADDRESS</h5>
            <p><b>Street:</b>  Sri Ganesa Complex,n, 10th Street, Gandhipuram
            <br><b> City:</b>   Coimbatore
            <br><b> State/province/area:</b>    Tamil Nadu           
            <br><b>Phone number:</b>  04222489095             
            <br><b> Zip code:</b>  641012              
            <br><b> Country calling code:</b>  +91 1234567891              
            <br><b> Country:</b>  India</p>
          </div>
        </div>
      </div>
      <p class="cp">@2024 | All Right Reserved.</p>
    </footer>

    <!-- JS Script Links -->
    <!-- Bootstrap CDN Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Boxicon Link -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    
    <!-- Custom JS -->
    <script src="../../static/script.js"></script>
</body>
</html>
